<template>
  <div class="buy-sell-bg-black">
      <div class="container-buy-sell">
          
          <div class="left-side">
              <div class="left-side-header">
                  <p>BUY / SELL</p>
              </div>

              <div class="left-side-p1">
                  <p>getCrypto is the easiest and most trusted place to
                        buy, sell, and manage your digital currency.
                        You can buy bitcoin, ethereum, and more instantly 
                        with a bank account or debit card.</p>
              </div>
             
              
          </div>

          <div class="rigth-side">
              <slot></slot>
          </div>
      </div>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>

    .container-buy-sell {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        height: auto;
        justify-content: space-between;
        margin: 0 auto;
        padding: 80px 0px;
        width: 1400px;
    }

    .buy-sell-bg-black {
        display: flex;
        justify-content: space-between;
    }

    .buy-sell-bg-black {
        
        background: #000;
        color: #fff;
    }

    .left-side-header {
        font-size: 53px;
        margin-bottom: 20px;
    }

    .left-side-p1 {
        width: 470px;
        font-size: 22px;
        font-weight: lighter;
    }

 

    @media (max-width: 960px) {
        .container-buy-sell {
            justify-content: center;
        }

        .left-side-p1 {
            margin: 20px 0;
            padding: 0 20px;
            font-size: 20px;
        }

        .left-side-header {
            padding: 0 20px;
        }
    }

     @media (max-width: 529px){
         .left-side-p1 {
             width: 400px;
         }
     }
     @media (max-width: 440px){
         .left-side-p1 {
             width: 280px;
             font-size: 16px;
         }

         

         .left-side-header {
             font-size: 20px;
             margin-bottom: -10px;
             
         }

         .container-buy-sell {
             padding: 25px 0;
         }

         
     }

      
  
</style>