<template>
  <div class="footer">
      <div class="footer-container">
          <div class="footer-links">
              
              <div class="footer-links-services">
                    <div class="footer-links-header">
                        <h3>SERVICES</h3>
                        <ul>
                            <li><a href="">Buy Bitcoins</a></li>
                            <li><a href="">Buy Ethereum</a></li>
                            <li><a href="">Buy DASH</a></li>
                            <li><a href="">BTC to USD</a></li>
                            <li><a href="">Sell Bitcoins</a></li>
                            <li><a href="">Bitcoin Trading</a></li>
                            <li><a href="">Margin Trading</a></li>
                        </ul>
                    </div>
              </div>
              <div class="footer-links-information">
                    <div class="footer-links-header">
                        <h3>INFORMATION</h3>
                         <ul>
                            <li><a href="">Payment Options</a></li>
                            <li><a href="">Fee Schedule</a></li>
                            <li><a href="">Getting Started</a></li>
                            <li><a href="">Identity Verification Guide</a></li>
                            <li><a href="">Card Verification Guide</a></li>
                          
                        </ul>
                    </div>
                    
              </div>
              <div class="footer-links-tools">
                    <div class="footer-links-header">
                        <h3>TOOLS</h3>
                         <ul>
                            <li><a href="">API</a></li>
                            <li><a href="">Bitcoin Calculator</a></li>
                            <li><a href="">Bitcoin Price Widget</a></li>
                            <li><a href="">Mobile App</a></li>
                            <li><a href="">Affiliate Program</a></li>
                            <li><a href="">Donations</a></li>
                          
                        </ul>
                    </div>
              </div>
              <div class="footer-links-about">
                    <div class="footer-links-header">
                        <h3>ABOUT</h3>
                           <ul>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Legal & Security</a></li>
                            <li><a href="">Terms of Use</a></li>
                            <li><a href="">Refund Policy</a></li>
                            <li><a href="">Press</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Help Centre</a></li>
                          
                        </ul>
                    </div>
              </div>
          </div>


          <div class="footer-right-side">
              <div class="footer-right-side-content">
                  <div class="footer-btn">
                      <button>OTCLABS STATUS</button>
                  </div>
                
                  <div class="footer-credit-logos">
                      <img src="../../assets/footer-credit-logos.png" alt="">
                  </div>

                  <div class="social-media-buttons">
                      <div>
                          <button><a href=""><img src="../../assets/facebook-icon.png" alt=""></a></button>
                      </div>
                      <div>
                          <button><a href=""><img src="../../assets/twiter-icon.png" alt=""></a></button>
                      </div>
                      <div>
                          <button><a href=""><img src="../../assets/google-plus.png" alt=""></a></button>
                      </div>
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
export default {
    name: "Footer",
}
</script>

<style scoped>
    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        font-weight: lighter;
    }

    li {
        margin: 10px 0;
    }

    .footer {
        background: #000;
        height: auto;
        color: #fff;
        
    
    }

    .footer-container {
        justify-content: center;
        width: auto;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 1400px;
    }

    .footer-links {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 450px;
        width: 830px;
        margin: 0 auto;
        
        padding: 0 50px;
        
    }

    .footer-right-side {
        margin-left: 280px;
        padding-right: 50px;
    }

    .footer-btn button {
        color: #fff;
        background: #3ed0d1;
        text-transform: uppercase;
        width: 220px;
        height: 40px;
        border-radius: 10px;
        font-size: 18px;
       border: none;
        margin: 15px 0;
    }

    .social-media-buttons button {
        cursor: pointer;
        background: none;
        outline: none;
        border: none;
        margin: 10px 0;
        margin-right: 15px;
    }

    .social-media-buttons {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-links-header {
        margin-top: 100px;
    }

    @media(max-width: 1379px){
        .footer-right-side-content {
            width: 200px;    
        } 

        .footer-btn button {
            margin: 0px !important;
        }

        .footer-credit-logos {
            margin: 15px 0;
        }


        .footer-right-side {
         margin: 0 auto;  
        }

        .footer-btn button {
            margin: 0 20px;
            
        }
    }

    @media(max-width: 1079px) {
         .footer-right-side-content {
            display: flex; 
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;    
            width: 500px;
        } 

        .footer-btn button {
            margin: 0px  20px!important;
        }

         .footer-links-header {
        margin-top: 30px;
    }
    }

    @media(max-width: 825px) {
        .footer-links-services,
        .footer-links-information,
        .footer-links-tools,
        .footer-links-about {
            width: 240px;
            margin: 0 20px;
            
            

        }

        .footer-links {
            height: auto;
            
        }
    }
    @media(max-width: 779px) {
        .footer-links-services,
        .footer-links-information,
        .footer-links-tools,
        .footer-links-about {
            width: 200px;
            

        }
    }
    @media(max-width: 579px) {
        .footer-links-services,
        .footer-links-information,
        .footer-links-tools,
        .footer-links-about {
            width: 150px;

        } 
    }

     @media(max-width: 550px) {
         .footer-right-side {
             width: 280px;
             margin: 10px;
         }

         .footer-btn button {
             width: 120px;
             font-size: 10px;
             height: 30px;
         }

         .footer-credit-logos img {
             width: 135px
         }

         .footer-right-side-content {
             width: 280px;
             
         }

         .social-media-buttons button img {
             width: 30px;
             margin: 3px;
             margin-top: -12px;
             
         }

         
     }

    @media(max-width: 479px) {
        .footer-links-services,
        .footer-links-information,
        .footer-links-tools,
        .footer-links-about {
            width: 100px;

        }

        ul li a {
            font-size: 14px
        }
    }
    @media(max-width: 379px) {
        .footer-links-services,
        .footer-links-information,
        .footer-links-tools,
        .footer-links-about {
            width: 70px;

        }

        ul li a {
            font-size: 10px
        }

        .footer-links-header h3 {
        font-size: 10px;
    }
    }

    

     

</style>