<template>
  <div class="hero">
      <div class="hero-container">
          <div class="hero-content">
              <h1>buy crypto</h1>
            <h2>easily and instanly</h2>
          </div>
                      
      </div>
  </div>
</template>

<script>
export default {
    name: 'HeroSection',
}
</script>

<style scoped >
    .hero-container {
        margin: 0 auto;
        width: 1400px;
    }
    .hero {
        min-height: 600px;
        width: 100%;
        background: url("../../assets/hero-bg.png") no-repeat center;
        position: relative;
        background-size: cover;
    }

    .hero-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
       
    }

    .hero-container h1 {
        font-size: 53px;
        text-transform: uppercase;
        font-weight: lighter;
    }
    .hero-container h2 {
        font-size: 53px;
        text-transform: uppercase;
    }

    @media(max-width: 1500px){

        .hero-content {
            margin-left: 50px;
        }
        
    }

    @media(max-width: 950px){

        .hero-container h1 {
        font-size: 45px;
        text-transform: uppercase;
        font-weight: lighter;
    }

    .hero-container h2 {
        font-size: 45px;
        text-transform: uppercase;
       
        
    }
  }
    @media(max-width: 760px){

        .hero-container h1 {
        font-size: 38px;
        text-transform: uppercase;
        font-weight: lighter;
    }

    .hero-container h2 {
        font-size: 38px;
        text-transform: uppercase;
       
        
    }
  }
    @media(max-width: 625px){

        .hero-container h1 {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: lighter;
    }

    .hero-container h2 {
        font-size: 30px;
        text-transform: uppercase;
       
        
    }
  }

  @media (max-width: 320px){
      .hero {
        min-height: 220px;
        width: 100%;
        background: url("../../assets/hero-bg-mobile.png") no-repeat center;
        position: relative;
    }

          .hero-container h1 {
        font-size: 19px;
        text-transform: uppercase;
        font-weight: 400;
        margin-left: -23px;
    }

    .hero-container h2 {
        font-size: 19px;
        text-transform: uppercase;
       margin-left: -23px;
        
    }
  }



  
</style>