<template>
  <div class="otclabs-features">
    
           <div class="otclabs-features-header">
               <div class="otclabs-features-logo">
                   <img class="logo-desktop" src="../../assets/otclabs-logo.png" alt="">
                   <img class="logo-mobile" src="../../assets/otclabs-logo-mobile-2.png" alt="">
                   <h3>features</h3>
               </div>
           </div> 
     

    
      <div class="otclabs-features-icons">
          <div class="otclabs-features-icon">
              <div class="otclabs-container">
                   <div class="otclabs-features-icon-img">
                  <img src="../../assets/otclabs-card-icon-1.png" alt="">
              </div>

              <div class="otclabs-features-content">
                  <h3>Live Exchange</h3>
                  <p>
                      Cryptocurrency prices and your Wallet
                        information is available 100% of 
                        the time, in real time.

                  </p>
              </div>
              </div>
             
          </div>
          <div class="otclabs-features-icon">
              <div class="otclabs-container">
                   <div class="otclabs-features-icon-img">
                  <img src="../../assets/otclabs-card-icon-2.png" alt="">
              </div>

              <div class="otclabs-features-content">
                  <h3>Dynamic eWallet</h3>
               <p>You have total control with
                    getCrypto to keep currency in
                    your own account or as a secure
                    balance in our eWallet.

                    </p>
              </div>
              </div>
             
          </div>
          <div class="otclabs-features-icon">
              <div class="otclabs-container">
                   <div class="otclabs-features-icon-img">
                  <img src="../../assets/otclabs-card-icon-3.png" alt="">
              </div>

              <div class="otclabs-features-content">
                  <h3>You’re SAFE</h3>
                    <p>Getcrypto is regulated by Estonian
                        Crypto Exchange Regulation
                        (License FVR000515).
                        </p>
              </div>
              </div>
             
          </div>
          <div class="otclabs-features-icon">
              <div class="otclabs-container">
                   <div class="otclabs-features-icon-img">
                  <img src="../../assets/otclabs-card-icon-4.png" alt="">
              </div>

              <div class="otclabs-features-content">
                  <h3>You’re Secured</h3>
                    <p>Protection against DDoS attacks,
                        full data encryption, compliant 
                        with PCI DSS standards.</p>
              </div>
              </div>
             
          </div>
          <div class="otclabs-features-icon">
              <div class="otclabs-container">
                   <div class="otclabs-features-icon-img">
                  <img src="../../assets/otclabs-card-icon-5.png" alt="">
              </div>

              <div class="otclabs-features-content">
                  <h3>Simple Payments</h3>
                    <p>Use your getCrypto wallet to 
                        make payments with digital currency
                        PLUS access special benefits.</p>
              </div>
              </div>
             
          </div>
          <div class="otclabs-features-icon">
              <div class="otclabs-container">
                   <div class="otclabs-features-icon-img">
                  <img src="../../assets/otclabs-card-icon-6.png" alt="">
              </div>

              <div class="otclabs-features-content">
                  <h3>Immediate Execution</h3>
                    <p>Your crypto order is executed 
                        immediately through our 
                        Liquidity Providers.</p>
              </div>
              </div>
             
          </div>
        
          
      </div>
      </div>
  
</template>

<script>
export default {
 name: 'OtclabsFeatures',
}
</script>

<style scoped>
    .logo-mobile {
        display: none;
    }

    .otclabs-features {
        padding-bottom: 50px;
        background: #3ed0d1;
    }

    .otclabs-features-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px 0;
        
    }

    .otclabs-features-logo img {
        height: 40px;
        margin-right: 20px;
    }

    .otclabs-features-logo h3 {
        font-size: 53px;
        text-transform: uppercase;
        font-weight: 400;
    }

    .otclabs-features-header {
        padding: 50px 0;
    }

    .otclabs-features-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }

    .otclabs-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
    }

    .otclabs-features-icon {
       
        margin: 40px;
    }

    .otclabs-features-content p {
        width: 340px;
        font-size: 22px;
          font-weight: lighter;
    }

    .otclabs-features-content {
        width: 500px;
    }
    .otclabs-features-content h3 {
        font-weight: 400;
        font-size: 22px;
    }

    .otclabs-features-icon-img {
        margin-right: 20px;
    }

    

    
    @media (max-width: 690px){
        .otclabs-features-content p {
            width: 300px;
        }   

         .otclabs-container {
             flex-wrap: nowrap;
         }
    }

    @media (max-width: 540px){

        .otclabs-features-logo h3 {
            font-size: 38px;
        }
       
    }
  
    @media (max-width: 480px){
         .otclabs-features-icon {
             width: 280px;
             
             
         }

         .otclabs-features {
             padding: 0;
             margin: 0;
         }

       

         .otclabs-features-logo {
             flex-wrap: nowrap;
             align-items: flex-end;
         }

         .otclabs-features-logo h3 {
             font-size: 19px;
             font-weight: bold;
             margin: -4px;
             
         }

         .otclabs-container {
             flex-wrap: nowrap;
             align-items: flex-start;
            
             
         }

         .otclabs-features-content p {
            width: 200px;
            font-size: 13px;
        }   

        .otclabs-features-content h3 {
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 5px;
            
        }

        .otclabs-features-icon-img img {
            width: 45px;
        }

        .otclabs-features-header {
            padding-top: 30px;
            padding-bottom: 0;
            
        }

        .logo-mobile {
            display: block;
        
        }

        img.logo-mobile {
            width: 110px;
            height: auto;
            margin-right: 10px;
            
        }

        .logo-desktop {
            display: none;
        }

          .otclabs-features-header{
             margin: 0;
             padding: 10px 0;
         }

         .otclabs-features-icon{
             margin: 10px 0;
         }

         .otclabs-features-icon:last-child{
             margin-bottom: 30px;
         }

        
    }

    
</style>