<template>
  <div class="trade-crypto">
      <div class="trade-crypto-container">
          <div class="trade-crypto-content">
              <div class="left-content">
                  <img class="left-content-img-desktop" src="../../assets/trade-crypto-trade-img.png" alt="">
                  <img class="left-content-img-mobile" src="../../assets/trade-crypto-trade-img-mobile.png" alt="">
              </div>

              <div class="rigth-content">
                  <div class="rigth-content-header">
                      <h1>trade crypto</h1>
                  </div>

                  <div class="rigth-content-p">
                      <p>getcrypto is the easiest and most
                            trustedplace to buy, sell, and 
                            manage your digital currency. 
                            You can buy bitcoin, ethereum, 
                            and more instantly with a bank 
                            account or debit card.
                            </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
export default {
    name: 'TradeCrypto',
}
</script>

<style scoped>
    

    .left-content-img-mobile {
        display: none;
    }

    .trade-crypto-container {
        margin: 0 auto;
        max-width: 1400px;
        padding: 0 50px;
    }

    

    

    .trade-crypto {
        background: #3ed0d1;
        
        
        }

    .trade-crypto-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        height: 480px;
    }

    .rigth-content {
        margin-top: -90px;
    }

    

    .rigth-content-header h1 {
        text-transform: uppercase;
        font-size: 53px;
        font-weight: 300;
    }
    .rigth-content-p  {
        font-weight: lighter;
        font-size: 22px;
        width: 360px;
        margin: 20px 0;
       
    }

    @media (max-width: 1113px){
        .rigth-content {
            order: -1;
        }

        .rigth-content {
        margin-top: 0px;
    }

        .trade-crypto-content {
            justify-content: center;
            height: auto;
            padding: 58px
            
        }
    }

    @media (max-width: 950px){
        .rigth-content-header h1 {
            font-size: 45px;
        }
    }

    @media (max-width: 760px){
        .rigth-content-header h1 {
            font-size: 38px;
        }
    }

    @media (max-width: 650px){
        .left-content img {
            width: 450px;
            margin: 0 auto;
        }

        .left-content {
            margin: 0 auto;
            text-align: center;
        }
    }
    @media (max-width: 500px){
        .left-content-img-mobile {
            display: block;
        }

        .trade-crypto-content {
            padding: 0;
            padding-top: 15px;
            padding-bottom: 30px;
        }

        .rigth-content-header h1 {
            font-weight: 500;
            margin-bottom: -10px;
        }

        .left-content-img-desktop {
            display: none;
        }

        .left-content img {
            width: auto;
        }

        .rigth-content-header h1 {
            font-size: 19px;
        }

        .rigth-content-p {
            font-size: 13px;
            width: 280px;
        }

   
        

    }
</style>