<template>
  <div class="logos-bar">
      <div class="logos-bar-container">
        <img src="../../assets/register-logos-bar.png" alt="">
      </div>
      
  </div>
</template>

<script>
export default {
  name: 'LogosBar',
}
</script>

<style>
  .logos-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    max-width: 1400px;
    margin: 0 auto;
  }

 

  @media (max-width: 1400px){
     .logos-bar-container img {
       width: 1000px
  }
  }
  @media (max-width: 1000px){
     .logos-bar-container img {
       width: 800px
      }

      .logos-bar-container {
        height: 80px;
      }
  }
  @media (max-width: 800px){
     .logos-bar-container {
        display: none;
      }
      
  }

</style>