<template>
  <div class="navbar-register">
      <div class="navbar-register-icons">
          <div class="icon">
              <img v-if="this.$route.path === '/register'" src="../../assets/nabbar-register-icon.png" alt="">
              <img v-if="this.$route.path === '/funds'" src="../../assets/nabbar-register-icon-step-1.png" alt="">
              
              
          </div>
          <div class="icon">
              <img v-if="this.$route.path === '/register'" src="../../assets/nabbar-register-icon-2.png" alt="">
              <img v-if="this.$route.path === '/funds'" src="../../assets/nabbar-register-icon-2-step-2.png" alt="">
             
          </div>
      </div>
  </div>
</template>

<script>

export default {
    name: 'NavbarRegisterIcons',


}
</script>

<style>
    .navbar-register {
        height: 85px;
        background: #3ed0d1;
        
    }

    .navbar-register-icons {
        max-width: 1400px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 85px;
        justify-content: space-around;

    }

    @media (max-width: 500px){
         .navbar-register {
            height: auto;
        }

        .navbar-register-icons {
            height: auto;
            padding: 10px;
        }
        .navbar-register-icons img {
            
            padding: 5px;
        }
    }
</style>