<template>
  <div class="register-form">
      <div  class="register-form-container step-1">
          <div class="form-left" v-if="$store.state.isStepOneOfRegisterDone === false">
              <div class="form-header">
                  <p>Fill out your personal details</p>
              </div>

              <div class="main-form">
                  <form @submit.prevent="onSubmit">

                      <label for="email"><span>*</span> Your email</label>
                      <span id="on-submit-click-btn">please fill out the field</span>
                      <span v-if="$v.email.$error" class="error-span">please provide a valid email address</span>
                      <input v-model="email" @blur="$v.email.$touch()"
                      :style="$v.email.$error ? 'border: 2px solid red' : ''"
                       type="text" name="email" id="name">


                      <label for="password"><span>*</span> Your password</label>
                      <span id="on-submit-click-btn">please fill out the field</span>
                       <span v-if="$v.password.$error" class="error-span">password length must be at least 6 characters</span>
                      <input v-model="password" 
                        @blur="$v.password.$touch()"
                        :style="$v.password.$error ? 'border: 2px solid red' : ''" 
                        
                        type="password" name="password" id="password">

                       <div class="form-spaicer">
                            <img  src="../../assets/form-spaicer.png" alt="">   
                       </div> 


                       <label for="first-name"><span>*</span> First name</label>
                       <span id="on-submit-click-btn">please fill out the field</span>
                        <span v-if="$v.firstName.$error" class="error-span"> first name length must be at least 2 characters</span>
                      <input v-model="firstName" @blur="$v.firstName.$touch()"
                      :style="$v.firstName.$error ? 'border: 2px solid red' : ''"
                       type="text" name="first-name" id="first-name">


                       <label for="last-name"><span>*</span> Last name</label>
                       <span id="on-submit-click-btn">please fill out the field</span>
                         <span v-if="$v.lastName.$error" class="error-span"> last name length must be at least 2 characters</span>
                      <input v-model="lastName" @blur="$v.lastName.$touch()" 
                    :style="$v.lastName.$error ? 'border: 2px solid red' : ''"
                      type="text" name="last-name" id="last-name">


                       <label class="phone-label" for="phone">Phone</label>  
                      <div class="area-code-container">
                      <select name="area-code" id="area-code">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                      </select>
                      <input type="phone" v-model="phone" name="phone" id="phone">

                      </div>  
                   

                      <label class="country" for="country"><span>*</span> Country</label>
                      <span id="on-submit-click-btn">please fill out the field</span>
                        <span v-if="$v.country.$error" class="error-span"> please select a country</span>
                        <select v-model="country" @blur="$v.country.$touch()"
                        :style="$v.country.$error ? 'border: 2px solid red' : ''"
                         name="country" id="country" no-data>
                          <option value="1">Israel</option>
                          <option value="2">...</option>
                          <option value="3">...</option>
                          <option value="4">...</option>
                          <option value="5">...</option>
                      </select>

                      <label class="fiat-currency" for="fiat-currency">FIAT Currency</label>
                           <select name="fiat-currency" id="fiat-currency">
                          <option value="1">USD</option>
                          <option value="2">ERU</option>
                      </select>


                      <div class="sign-up-btn-container">
                          <button  :disabled="$v.$error" class="sign-up-btn">SIGN UP</button>
                      </div>

                      <router-link :to="{name:'signin'}" >
                         <p class="already-a-member"> Already a member?</p>
                      </router-link>
                      
                  </form>
              </div>

              
          </div>

      

          <div class="img-rigth">
              <img src="../../assets/register-form-rigth-img.png" alt="">
          </div>
      </div>
  </div>
</template>

<script>
import {required , email , minLength } from 'vuelidate/lib/validators'
export default {
    name: 'RegisterForm',

    data(){
        return{
            email: '',
            password: '',
            firstName: '',
            lastName:'',
            country: [],
            phone: '',
            fiatCourrency: [],
        }
    },
    
    validations: {
        email: {
            required,
            email,
        },

        password : {
            required,
            minLen : minLength(6)
        },

        firstName : {
            required,
            minLen : minLength(2)
        },

        lastName : {
            required,
            minLen : minLength(2)
        },

        country : {
            required,
            minLen: minLength(1),
            $each:{
                value: {
                    required,
                    minLen:minLength(1)
                }
            }
        }

    },

    methods: {
        onSubmit(){
             if(!this.email || !this.password || !this.lastName || !this.firstName || !this.country){
           const onSubmitClickBtn = document.querySelectorAll("#on-submit-click-btn")
           onSubmitClickBtn.forEach(error => {
           error.setAttribute('id', 'show-Error')

            parent.scrollTo(0, 0);

           setTimeout(() => {
               error.setAttribute('id', 'on-submit-click-btn')
           }, 2000)

          
        }) 

      } else if (this.email && this.password && this.lastName && this.firstName && this.country) {

        //  const dataFromForm = {
        //      email: this.email,
        //      password : this.password,
        //      firstName: this.firstName,
        //      lastName: this.lastName,
        //      phone: this.phone,
        //      country: this.country,
        //      fiatCourrency: this.fiatCourrency
        //   }

         
          this.$router.push({name: 'funds'}) 
          
           
           parent.scrollTo(0, 0);
      }        
        },

      
       
    }
}
</script>

<style scoped>

    #show-Error {
        display: block !important;
        text-align: center;
        
    }
    #on-submit-click-btn {
        display: none;
    }

    .register-form {
        background: #000;
        color: #fff;
        padding: 50px 0;
        border-bottom: 1px solid #fff;
    }
    .register-form-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 1400px;
       
    }

    .img-rigth {
        height: 426px;
        width: 550px
    }

    .form-header p {
        font-size: 20px;
    }

    .main-form {
        width: 500px;
    }

    .main-form span {
        color: red;
        display: inline-block;
        margin: 10px 0;
    }

    input {
        height: 50px;
        width: 500px;
        padding: 10px;
    }

   form label span {
        margin: 50px 0;
    }

    .form-spaicer {
        width: 500px;
        text-align: center;
        margin: 20px 0;
    }

    .area-code-container {
        display: flex;
        justify-content: space-between;
    }

    select {
        height: 50px;
        width: 100px;
    }

    #phone {
        width: 380px;
    }

    .phone-label {
        display: inline-block;     
        margin: 10px 0;
    }

    .country {
        display: block;
    }

    #country {
        width: 100%; 
    }

    .fiat-currency {
        display: block;
        margin: 10px 0;
    }

    #fiat-currency {
        width: 100%;
    }

    .sign-up-btn {
        background: #1fb7b8;
        color: #fff;
        width: 330px;
        height: 55px;
        font-size: 28px;
        outline: none;
        border: none;
        cursor: pointer;
    }

    .sign-up-btn-container {
        margin: 0 auto;
        text-align: center;
        margin-top: 40px;
    }

    .already-a-member {
        color: #fff;
        text-align: center;
        margin-top: 20px;  
    }

    a{
        text-decoration: underline;
        text-decoration-color: #fff;
    }

    form .error-span {
        text-align: center;
        color: red;
        display: block;
    }

    
    @media (max-width: 1460px){
        .register-form-container {
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .register-form {
            display: flex;
            margin: 0 auto;
        }

        .img-rigth {
            text-align: center;
            margin: 20px 0;
            height: auto;
            margin-bottom: -15px;
        }

         img {
            width: 400px;
        }
    }

    @media (max-width: 550px){
        .main-form {
            width: 280px;
        }

        input {
            width: 280px;
        }

        .sign-up-btn {
            width: 280px;
        }

        .form-spaicer {
            width: 280px;
        }

        .form-spaicer img {
            width: 280px;
        }

       .img-rigth {
           width: 280px;
       }
       .img-rigth img {
           width: 280px;
       }
    }

</style>