<template>
  <div class="register">
      <NavbarMainPage/>
      <NavbarRegisterIcons/>
      <RegisterForm/>
      <LogosBar/>
  </div>
</template>

<script>

import NavbarMainPage from '../components/homeComponents/NavbarMainPage'
import NavbarRegisterIcons from '../components/registerComponents/NavbarRegisterIcons'
import RegisterForm from '../components/registerComponents/RegisterForm'
import LogosBar from '../components/registerComponents/LogosBar'

export default {
    name: "Register",

    components: {
        NavbarMainPage,
        NavbarRegisterIcons,
        RegisterForm,
        LogosBar,
    }
}
</script>

<style>

</style>