<template>
  <div class="Transferfunds">
      <NavbarMainPage/>
        <NavbarRegisterIcons/>
      <LogosBar/>
  </div>
</template>

<script>
import NavbarMainPage from '../components/homeComponents/NavbarMainPage'
import LogosBar from '../components/registerComponents/LogosBar'
import NavbarRegisterIcons from '../components/registerComponents/NavbarRegisterIcons'
export default {
 name: 'TransferFunds',

    components: {
        NavbarMainPage,
        LogosBar,
        NavbarRegisterIcons
    }

}
</script>

<style>

</style>