<template>
  <div class="wallet">
      <NavbarMainPage/>
      <WalletOptions/>
          <TableExchange>
            <Table/>
          </TableExchange>
  </div>
</template>

<script>
import NavbarMainPage from '../components/homeComponents/NavbarMainPage'
import WalletOptions  from '../components/walletComponents/WalletOptions'
import TableExchange  from '../components/walletComponents/TableExchange'
import Table  from '../components/walletComponents/Table'


export default {
    name: "Wallet",

      components: {
      NavbarMainPage,
      WalletOptions,
      TableExchange,
      Table,
      
    
    },

    data(){
      return{
        showData: true,
      }
    },

    methods: {
      onBuy(){
        this.showData = !this.showData
      },

      onSell(){
        this.showData = !this.showData
      }
    },

  
}
</script>

<style scoped>
    .wallet {
      background: #000;
      color: #fff;
    }

    .wallet-container {
      max-width: 1400px;
      margin: 0 auto;
    }

    .wallet-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 60px;
    }

    .wallet-header h1 {
      font-size: 53px; 
      font-weight: lighter;
    }

    .base-currency {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      font-size: 13px;
    }

    .base-currency select {
      height: 35px;
      width: 100px;
      margin-left: 20px;
    }

    .wallet-options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    .currency-card,
    .wallet-calc {
      height: 250px;
      width: 288px;
      border: 1px solid #fff;
    
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      margin: 30px 0;
      
    }

    .wallet-calc {
      border-bottom: 1px solid #fff; 
    }

    .card-contenr  {
      text-align: center;
      font-size: 60px;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
    }

    .card-contenr span {
      font-size: 22px;
    }

    .price-up-down {
      background: #fff;
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      padding: 0 10px;
    }

    .price-up-down span:nth-child(1){
      color: #20ba95;
    }
    .price-up-down span:nth-child(2){
      color: #eb4654;
    }

    .card-btns {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    
    .buy-btn button {
      width: 144px;
      height: 50px;
      color: #fff;
      font-size: 18px;
      background: #20ba95;
      border: none;
      outline: none;
    }
    
    .sell-btn button {
      width: 144px;
      height: 50px;
      color: #fff;
      font-size: 18px;
      background: #eb4654;
      border: none;
      outline: none;
    }
</style>