<template>
  <div class="table-exchange">
      <div class="table-exchange-container">
          <div class="table-left">
              <div class="table-left-btns">
                  <div class="exchange-history-btn">
                       <button @click="addActiveClass" class="active-btn">exchange history</button> 
                  </div>
                  <div class="transactions-history-btn">
                       <button  @click="addActiveClass">transactions history</button> 
                  </div>
              </div>

              <div class="table">
                  <slot></slot>
              </div>
              
          </div>

          <div class="rigth-img">
              <div v-if="!showChatForm" class="">
                  <div class="chat-img">
                  <img src="../../assets/chat-img.png" alt="">

                
              </div>
              </div>

              <div v-if="showChatForm" class="live-chat">
                  <div class="form-header">
                      <h3>Welcome to liveChat</h3>
                      <span class="go-back-form-btn">&darr;</span>
                  </div>

                  <div class="live-chat-p">
                      <p>Welcome to Tradeo live chat, 
                        Please fill in the form below before 
                        starting the chat.</p>
                  </div>

                  <div class="live-chat-form-container">
                      <form @submit.prevent="onSubmit" class="live-chat-form">
                          
                          <label for="name">Your name <span>*</span> </label>
                          <span class="error-span" v-if="$v.name.$error">must be at least 2 characters</span>
                          <input v-model="name" @blur="$v.name.$touch()"
                           :style="$v.name.$error ?  'border: 2px solid red' : ''" 
                           type="name" name="name" id="name">



                          <label for="email">Email <span>*</span> </label>
                          <span class="error-span" v-if="$v.email.$error">please provide valid email</span>
                          <input v-model="email" @blur="$v.email.$touch()"
                           :style="$v.email.$error ?  'border: 2px solid red' : ''" 
                           type="name" name="name" id="name">

                          <div class="live-chat-btn">
                              <button :disabled="$v.$error" >LEAVE A MESSAGE</button>
                          </div>
                      </form>
                  </div>
                </div>

                  <div class="chat-icon">
                      <img @click="showChat" src="../../assets/chat-icon.png" alt="">
                  </div>
          </div>
      </div>
  </div>
</template>

<script>
import {required , email , minLength } from 'vuelidate/lib/validators'
export default {
    name: 'TableExchange',

    data(){
        return{
            showChatForm: false,
            name: '',
            email: ''
        }
    },



     validations: {
        email: {
            required,
            email,
        },

        name : {
            required,
            minLen : minLength(2)
        }
    },

    methods: {
        addActiveClass(){
            const exechangeHistory = document.querySelector(".exchange-history-btn button");
            const transactionsHistory = document.querySelector(".transactions-history-btn button");
            
            if(!transactionsHistory.classList.contains("active-btn")){
                transactionsHistory.classList.add("active-btn")
                exechangeHistory.classList.remove("active-btn")
                this.$store.state.buttonActiveClass = true;
            } else {
                exechangeHistory.classList.add("active-btn")
                transactionsHistory.classList.remove("active-btn")
                this.$store.state.buttonActiveClass = false;
            }     
        },

        showChat(){
            this.showChatForm = !this.showChatForm
        },

        onSubmit(){     
            
        },
    }
}
</script>

<style scoped> 

    .live-chat-form.error-span {
        padding: 10px 0 !important;
    }
    .table-exchange-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 1400px;
    }

    .table-left-btns {
        display: flex;
        margin-top: 100px;
    }

    .rigth-img {
        margin-top: 100px;
    }

    .exchange-history-btn button {
        background: #e87a2d;
        color: #fff;
        font-size: 18px;
        width: 280px;
        height: 55px ;
        border: none;
        outline: none;
        text-transform: uppercase;
        transition: all .3s;
      
    }
    .transactions-history-btn button {
        background: #3ed0d1;
        color: #fff;
        font-size: 18px;
        width: 280px;
        height: 55px ;
        border: none;
        outline: none;
        text-transform: uppercase;
    }

    .active-btn {
        transform: scale(1.1);
        margin-left: 14px;
    }

    .chat-icon {
        text-align: right;
        margin-top: 30px;
    }

    .chat-icon img {
        cursor: pointer;
    }

    .form-header {
        background: #b77ee5;
        color: #fff;
        padding: 20px;
        width: 315px;
        height: 58px;
        display: flex;
        justify-content: space-between;
    }

    .form-header h3 {
        font-size: 18px;
        font-weight: lighter; 
    }

    .form-header span {
        font-size: 18px;
    }

    .live-chat {
        height: 400px;
        background: #fff;
        
        width: 315px;
        
    }

    .live-chat-p {
        color: #000;
       padding: 20px;
    }

    .live-chat-form-container {
        padding: 0 20px;
    }

    .live-chat-form span {
        color: red;
    }

    .live-chat-form {
        color: #000;
    }

    label {
        display: block;
    }

    input {
        height: 44px;
        width: 100%;
    }

    input:nth-child(2){
        margin-bottom: 20px;
    }

    .live-chat-btn button {
        background: #2c2840;
        color: #fff;
        height: 44px;
        width: 100%;
        border: none;
        outline: none;
        font-size: 18px;
        margin-top: 30px;
    }
    
    @media (max-width: 1400px){
        .table-exchange {
            padding: 0 50px;
        }

        .rigth-img {
            margin: 30px auto;
        }

        .table-left {
            overflow-y: scroll;
        }

        .table-left-btns {
            flex-wrap: wrap;
            justify-content: center;
        }

    }


</style>