<template>
  <div class="table">
      <div class="exchange-history">
          <table :style="this.$store.state.buttonActiveClass === true ? 'display:none' : ''">
	<tbody>
		<tr class="table-header-exe">
			<td class="exchange-date">&nbsp;DATE</td>
			<td class="exchange-base">&nbsp;Base Currency </td>
			<td class="exchange-currency">&nbsp;New Currency</td>
			<td class="exchange-rate">&nbsp;rate</td>
			<td class="exchange-charged">&nbsp;Charged Amount</td>
			<td class="exchange-credit">&nbsp;Credit Amount</td>
			
		</tr>
		<tr style="text-align: center">
			
			<td>&nbsp;{{new Date() | moment("MM.DD.YYYY, LT" )}}</td>
			<td>&nbsp;USD</td>
			<td>&nbsp;BTC</td>
			<td>&nbsp;0.00025</td>
			<td>&nbsp;100 USD</td>
			<td>&nbsp;0.0025 BTC</td>
		</tr>
		<tr style="text-align: center">
			
			<td>&nbsp;{{new Date() | moment("MM.DD.YYYY, LT" )}}</td>
			<td>&nbsp;USD</td>
			<td>&nbsp;BTC</td>
			<td>&nbsp;0.00025</td>
			<td>&nbsp;100 USD</td>
			<td>&nbsp; 0.0025 BTC</td>
		</tr>
		<tr style="text-align: center">
			
			<td>&nbsp;{{new Date() | moment("MM.DD.YYYY, LT" )}}</td>
			<td>&nbsp;USD</td>
			<td>&nbsp;BTC</td>
			<td>&nbsp;0.00025</td>
			<td>&nbsp;100 USD</td>
			<td>&nbsp; 0.0025 BTC</td>
		</tr>
		<tr style="text-align: center">
			
			<td>&nbsp;{{new Date() | moment("MM.DD.YYYY, LT" )}}</td>
			<td>&nbsp;USD</td>
			<td>&nbsp;BTC</td>
			<td>&nbsp;0.00025</td>
			<td>&nbsp;100 USD</td>
			<td>&nbsp; 0.0025 BTC</td>
		</tr>
		<tr style="text-align: center">
			
			<td>&nbsp;{{new Date() | moment("MM.DD.YYYY, LT" )}}</td>
			<td>&nbsp;USD</td>
			<td>&nbsp;BTC</td>
			<td>&nbsp;0.00025</td>
			<td>&nbsp;100 USD</td>
			<td>&nbsp; 0.0025 BTC</td>
		</tr>
	</tbody>
</table>
<!-- DivTable.com -->
      </div>
      <div class="transactions-history">
          <table :style="this.$store.state.buttonActiveClass === false ? 'display:none' : ''">
	<tbody>
		<tr class="table-header-transactions">
			<td class="exchange-date">&nbsp;DATE</td>
			<td class="exchange-base">&nbsp;METHOD </td>
			<td class="exchange-currency">&nbsp;TYPE</td>
			<td class="exchange-rate">&nbsp;SOURCE</td>
			<td class="exchange-charged">&nbsp;AMOUNT</td>
			<td class="exchange-credit">&nbsp;ACCOUNT CREDITED</td>
			
		</tr>
		<tr style="text-align: center">
			
			<td>&nbsp;{{new Date() | moment("MM.DD.YYYY, LT" )}}</td>
			<td>&nbsp;Credit Card</td>
			<td>&nbsp;BTC</td>
			<td>&nbsp;Deposit</td>
			<td>&nbsp;3111</td>
			<td>&nbsp;USD</td>
		</tr>
		<tr style="text-align: center">
			
			<td>&nbsp;{{new Date() | moment("MM.DD.YYYY, LT" )}}</td>
			<td>&nbsp;Credit Card</td>
			<td>&nbsp;BTC</td>
			<td>&nbsp;Deposit</td>
			<td>&nbsp;3111</td>
			<td>&nbsp;USD</td>
		</tr>
		<tr style="text-align: center">
			
			<td>&nbsp;{{new Date() | moment("MM.DD.YYYY, LT" )}}</td>
			<td>&nbsp;Credit Card</td>
			<td>&nbsp;BTC</td>
			<td>&nbsp;Deposit</td>
			<td>&nbsp;3111</td>
			<td>&nbsp;USD</td>
		</tr>
		<tr style="text-align: center">
			
			<td>&nbsp;{{new Date() | moment("MM.DD.YYYY, LT" )}}</td>
			<td>&nbsp;USD</td>
			<td>&nbsp;Credit Card</td>
			<td>&nbsp;Deposit</td>
			<td>&nbsp;3111</td>
			<td>&nbsp; USD</td>
		</tr>
		<tr style="text-align: center">
			
			<td>&nbsp;{{new Date() | moment("MM.DD.YYYY, LT" )}}</td>
			<td>&nbsp;USD</td>
			<td>&nbsp;Credit Card</td>
			<td>&nbsp;Deposit</td>
			<td>&nbsp;3111</td>
			<td>&nbsp;USD</td>
		</tr>
	</tbody>
</table>
<!-- DivTable.com -->
      </div>
  </div>
</template>

<script>

export default {
    name: 'Table',

    data(){
        return {
            data: new Date()
        }
    }
}
</script>

<style>
    
   table {
       border-collapse: collapse;
       text-align: center;
   }

   table, th, td {
  border: 1px solid #fff;
}

    tbody tr {
        text-transform: uppercase;
        font-size: 16px;
        height: 52px;
    }

    .table-header-exe {
        color: #ae5b22;
    }
    .table-header-transactions {
        color: #3ed0d1;
    }

	

    /* header table */
    .exchange-date {
        width: 180px;
       
    }

    .exchange-base {
        width: 180px; 
        
    }

    .exchange-currency {
        width: 180px;
    }

    .exchange-rate {
        width: 100px;
    }

    .exchange-charged {
        width: 180px;
    }

    .exchange-credit {
        width: 180px;
    }


	
    /* end of header table */

	
</style>