<template>
  <div class="wallet">
      <div class="wallet-container">
        <div class="wallet-header">
          <h1>WALLETS</h1>

          <div class="base-currency">
            <p>Base Currency</p>
            <select name="base-currency" id="base-currency">
              <option value="usd">USD</option>
              <option value="eur">EUR</option>
            </select>
          </div>
        </div>

        <div class="wallet-options">

           <div  class="currency-card">
            <div v-if="showData" class="card-contenr">
                <p>1000</p>
              <span>LTE</span>
            </div>
            <div v-if="showData" class="price-up-down">
              <span> <img src="../../assets/up-arrow.png" alt=""> 4831.36</span>
              <span> 4680.04 <img src="../../assets/down-arrow.png" alt=""></span>
            </div>

            <div v-if="showData" class="card-btns">
              <div class="buy-btn">
                <button @click="onBuy">BUY</button>
              </div>
              <div class="sell-btn">
                <button @click="onSell">SELL</button>
              </div>
            </div>

            <div v-else class="currency-calc">
                <button class="go-back-btn" @click="goBack"> <span> &larr; </span> Go Back</button>
                
                <div class="options-pay">
                    <select name="currency" id="currency-option">
                        <option value="btc">btc</option>
                        <option value="btc">rpl</option>
                    </select>

                    <div class="arrow"> 
                           -> 
                    </div>

                    <select name="currency-m" id="currency-option-m">
                        <option value="btc">USD</option>
                        <option value="btc">EUR</option>
                    </select>
                </div>
                <div class="options-amount">
                       <input type="text" placeholder="Amount in BTC" disabled>
        
                    <div class="arrow"> 
                           =
                    </div>

                     <input type="text" placeholder="Amount in USD" disabled>
                   
                </div>

                <div class="currency-btns">
                    <div class="rate-btn">
                        <button>1 BTC = 5949.33 USD</button>
                    </div>

                    <div class="execute-btn">
                        <button>EXECUTE ORDER</button>
                    </div>
                </div>
            </div>

          </div>
          

          <div class="currency-card">
            <div class="card-contenr">
                <p>0</p>
              <span>LTE</span>
            </div>
            <div class="price-up-down">
              <span> <img src="../../assets/up-arrow.png" alt=""> 41.06</span>
              <span> 29.72 <img src="../../assets/down-arrow.png" alt=""></span>
            </div>

            <div class="card-btns">
              <div class="buy-btn">
                <button>BUY</button>
              </div>
              <div class="sell-btn">
                <button>SELL</button>
              </div>
            </div>

          </div>
          <div class="currency-card">
            <div class="card-contenr">
                <p>0</p>
              <span>ETC</span>
            </div>
            <div class="price-up-down">
              <span> <img src="../../assets/up-arrow.png" alt=""> 132.39</span>
              <span> 121.10 <img src="../../assets/down-arrow.png" alt=""></span>
            </div>

            <div class="card-btns">
              <div class="buy-btn">
                <button>BUY</button>
              </div>
              <div class="sell-btn">
                <button>SELL</button>
              </div>
            </div>

          </div>
          <div class="currency-card">
            <div class="card-contenr">
                <p>500</p>
              <span>RPL</span>
            </div>
            <div class="price-up-down">
              <span> <img src="../../assets/up-arrow.png" alt=""> 0.4263</span>
              <span> 0.3686 <img src="../../assets/down-arrow.png" alt=""></span>
            </div>

            <div class="card-btns">
              <div class="buy-btn">
                <button>BUY</button>
              </div>
              <div class="sell-btn">
                <button>SELL</button>
              </div>
            </div>

          </div>
        
        </div>

      </div>
  </div>
</template>

<script>


export default {
    name: "WalletOptions",

    data(){
      return{
        showData: true,
      }
    },

    methods: {
      onBuy(){
        this.showData = !this.showData
      },

      onSell(){
        this.showData = !this.showData
      },

      goBack(){
          this.showData = true;
      }
    },

}
</script>

<style scoped>


    .go-back-btn {
        margin: 10px 0;
    }
   .currency-btns .rate-btn button {
        background: #41bc76 ;
        color: #fff;
        font-size: 14px;
        width: 237px ;
        height: 27px;
    }

     .currency-btns .execute-btn button{
         background: #b77ee5;
         color: #fff;
         font-size: 18px;
         width: 237px;
         height: 35px;
         margin: 20px 0 ;

     }

    .options-amount {
        display: flex;
        align-items: center;
        margin: 15px 0;
    }

    .options-amount input {
        width: 100px;
        height: 35px;
    }

    .options-pay {
        display: flex;
        align-items: center;
    }

    .options-pay select {
        width: 98px;
        height: 35px;
    }

    .arrow {
        margin: 0 15px;
    }

    .currency-calc button {
        background: none;
        border: none;
        outline: none;
        color: #fff;
    }

    .wallet {
      background: #000;
      color: #fff;
    }

    .wallet-container {
      max-width: 1400px;
      margin: 0 auto;
    }

    .wallet-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 60px;
    }

    .wallet-header h1 {
      font-size: 53px; 
      font-weight: lighter;
    }

    .base-currency {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      font-size: 13px;
    }

    .base-currency select {
      height: 35px;
      width: 100px;
      margin-left: 20px;
    }

    .wallet-options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      
    }

    .currency-card,
    .wallet-calc {
      height: 250px;
      width: 288px;
      border: 1px solid #fff;
    
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      margin: 30px 0;
      
    }

    .wallet-calc {
      border-bottom: 1px solid #fff; 
    }

    .card-contenr  {
      text-align: center;
      font-size: 60px;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
    }

    .card-contenr span {
      font-size: 22px;
    }

    .price-up-down {
      background: #fff;
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      padding: 0 10px;
    }

    .price-up-down span:nth-child(1){
      color: #20ba95;
    }
    .price-up-down span:nth-child(2){
      color: #eb4654;
    }

    .card-btns {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    
    .buy-btn button {
      width: 144px;
      height: 50px;
      color: #fff;
      font-size: 18px;
      background: #20ba95;
      border: none;
      outline: none;
    }
    
    .sell-btn button {
      width: 144px;
      height: 50px;
      color: #fff;
      font-size: 18px;
      background: #eb4654;
      border: none;
      outline: none;
    }

    @media (max-width: 1400px){
      .wallet-options {
        padding: 0 50px;
      }

     

      .wallet-header {
        padding: 0 50px;
      }
    }
    @media (max-width: 675px){
      .wallet-options {
        justify-content: center;
      }

      .wallet-header h1 {
        margin-right: 20px;
      }

      
    }
    @media (max-width: 550px){
      .wallet-header {
        justify-content: center;
      }
    }


    
</style>